<div class="navmenu-container">
    <div class="navmenu-container__content">
        <div class="navmenu-container__user-menu-wrapper">
            <div class="user-menu-wrapper__left-menu">
                <ul class="left-menu__menu-list">
                    <li class="menu-list__menu-item">
                        <NavLink class="menu-list__item-link menu-list__item-link--my-tasks" href="/" Match="NavLinkMatch.All">My Dashboard</NavLink>
                    </li>
                    <li class="menu-list__menu-item">
                        <NavLink class="menu-list__item-link menu-list__item-link--employees-tasks" href="/users" Match="NavLinkMatch.All">Users</NavLink>
                    </li>
                    <li class="menu-list__menu-item">
                        <NavLink class="menu-list__item-link menu-list__item-link--projects" href="/projects" Match="NavLinkMatch.All">Projects</NavLink>
                    </li>
@*                    <li class="menu-list__menu-item">
                        <NavLink class="menu-list__item-link menu-list__item-link--logs-active" href="/logs" Match="NavLinkMatch.All">Logs Active</NavLink>
                    </li>  *@                  
                    <li class="menu-list__menu-item">
                        <NavLink class="menu-list__item-link menu-list__item-link--logs-active" href="/tiktaktoe" Match="NavLinkMatch.All">Tik Tak Toe Game</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>